:root {
    --size: 2;
    --cell-size: 80px;
}

.maze {
    display: grid;
    grid-template-columns: repeat(var(--size), var(--cell-size));
    max-width: calc(var(--size) * var(--cell-size) + 4px);
    /* max-height: calc(var(--size) * var(--cell-size) + 4px); */
    grid-gap: 0;
    border-style: solid;
    border-width: 2px;
}

.cell {
    max-width: var(--cell-size);
    max-height: var(--cell-size);
    /* border-bottom: 2px solid black;
    border-right: 2px solid black; */
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
